

.right-contianer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Css for navbar */
.right-container-nav-bar{
  flex:2;
  display: flex;
  /* border: 2px solid black; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
  font-weight: bold;
}



/* css for navbar tabs namw */

.nav-bar-tabs{
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-top: 10px;
}

/* css for today tab and hover and for active */
.today{
  margin-right: 10px;
  color: #6d6a6a;
}
.today:hover{
  color: #1a1a1a;
  cursor: pointer;
}

.today-active{
  color: #1a1a1a;
}
/* css for week tab and hover and for active */

.week{
  color: #c5c5c5;
}
.week:hover{
  color: #1a1a1a;
  cursor: pointer;
}
.week-active{
  color: #1a1a1a;
}

/* css for underline tab and hover and for active */

.underline{
  width: 50px;
  height: 1px;
  background-color: #1a1a1a;
  margin-top: 1.7rem;

}

.underline-today{
  transform: translate3d(-235%,0,0);
  transition: 100ms;
}

.underline-week{
  transform: translate3d(-100%,0,0);
  transition: 100ms;
}

/* css for navbar metrics */
.nav-bar-metric{
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  justify-content: center;
  align-items: center;
}

.celsius{
  border-radius: 500px;
  padding: 5px 7px;
  color: #1a1a1a;
  background-color: #ffffff;
  font-size: large;
}


.celsius-active {
  color: #ffffff;
  background-color: #1a1a1a;
}


.fahrenhiet{
  border-radius: 500px;
  padding: 5px 7px;
  color: #1a1a1a;
  background-color: #ffffff;
  font-size: large;
  margin-left: 20px;
  margin-right: 20px;
}

.fahrenhiet-active{
  color: #ffffff;
  background-color: #1a1a1a;
}
.celsius:hover ,.fahrenhiet:hover {
  color: #ffffff;
  background-color: #1a1a1a;
  cursor: pointer;
}
.profile-image img{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 25px;
}


.right-container-data-box{
  flex: 12;
  display: flex;
  flex-direction: column;
  margin: 30px;
  margin-top: 10px;
}


.right-container-today-cards{
  flex: 1;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
}



.right-container-todays-highlight{
  flex: 3;
  display: flex;
  flex-direction: column;
}

.right-container-todays-highlight-title{
  flex: 2;
  margin-top: 20px;
  /* margin-bottom: 10px; */
  font-size: medium;
  font-weight: bold;
}

.right-container-todays-highlight-cards
{
  /* background-color: skyblue; */
  flex: 8;
  display: flex;
  flex-direction:  row;
  justify-content: center;
  align-items: center;
}
.right-container-todays-highlight-card{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  width: 180px;
  height: 140px;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  margin-left: 10px; ;
}

.right-container-todays-highlight-card-title{
  flex: 1;
  color: #6d6a6a;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  align-self: self-start;
  margin-left: 20px;
}

.gauge
{
  flex: 2;
  width: 70%;
  max-width: 180px;
  font-size: 32px;
  color: #004033;
  font-weight: 500;
  margin-bottom: -30px;
  margin-top: -20px;
}

.gauge-body{
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background-color: #f3f3f4;
  position: relative;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
  margin-top: 1rem;
}

.gauge-fill{
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: 100%;
  background: #ffbf5e;
  transform-origin: center top;
  transform: rotate(0.25turn);
  transition: transform .2s ease-out;
}

.gauge-cover{
  width: 75%;
  height: 150%;
  background:#ffffff;
  border-radius: 50%;
  position: relative;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25%;
  box-sizing: border-box;
  color: #ffffff;

}


.right-container-todays-highlight-value{
  flex: 1;
  font-size: xx-large;
  font-weight: 500;
  margin-bottom: 20px;
  z-index: 1;
}

.wind-status-value{
  flex: 2;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  /* margin-top: -10px; */
}

.wind-status-value span{
  font-size: 16px;
  color: #c9c9c9;
}

.wind-status-logo{
 flex:1;
  align-self: self-start;
  margin-left: 30px;
}

.wind-status-logo img{
  width: 30px;
  height: 30px;
}


.sunrise-sunset-value{
  flex: 3;
  display: flex;
  flex-direction: column;
}

.sunrise{
  flex: 1;
  display: flex;
  flex-direction: row;

}
.sunrise-img{
  flex: 1;
  margin-bottom:10px ;
  margin-right:20px ;
}
.sunrise-img img{
  width: 30px;
  height: 30px;

}
.sunrise-time{
  flex: 4;
  font-weight: 500;
  font-size: 16px;
}


.sunset{
  flex: 1;
  display: flex;
  flex-direction: row;
}

.sunset-img{
  flex: 1;
  margin-bottom:10px ;
  margin-right:20px ;
}
.sunset-img img{
  width: 30px;
  height: 30px;
}

.sunset-time{
  flex: 4;
  font-weight: 500;
  font-size: 16px;
}

.humidity-summary{
  font-weight: small;
  font-weight: 500;
  margin-bottom: 20px;
}
